*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

header{
	background-color: grey;
}
.footer{   
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #181818;
   text-align: left;
}

}
.mega-item{
	text-align: center;
}
.article{
	display: block;
}
.logo-header {
    height: 50px;
    width: auto;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
}

.mySlides {
	display:none;
	height: 532px;
	width: 1352px;
}
.col-8x {
    width: 12.5%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.col-md-2 {
    width: 16.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-sm-3 {
    width: 25%;
}
.grid-meta{
	position: absolute;
    display: block;
    font-size: 100%;
    font-weight: 531;
    padding: 3px 5px;
    color: black;
}
.kategori{
	left:4px;
	bottom: 0;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 0px;
}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent ;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}


ul li.active a{
	background-color: #fff;
	color: #000;
}


.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color : #fff;
	font-size: 70px;
}

.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;

}

.btn:hover{
	background-color:  #fff;
	color: #000;
}

.mySlides {display:none;}

.kontak{
	color:#ffff;
	font-family: Century Gothic;
}